# Visual Studio Cache ve Ayarlar
.vs/
*.user
*.userosscache
*.sln.docstates

# Derleme Çıktıları (Build Outputs)
bin/
obj/

# Paket Yönetimi (NuGet)
packages/
# .NET Core kullanıyorsan paketler genellikle kullanıcı profilindedir ama yine de:
project.lock.json
project.fragment.lock.json

# İşletim Sistemi Dosyaları
Thumbs.db
ehthumbs.db
Desktop.ini